:root {
    --AzulOscuro: #27374D;
    --Titulos: #F7C548;
    --Enlaces: #A83F24;
    --Gris: #7d8a9791;
    --AzulOscuro2: #3c4f65;
    --Blanco: #E9ECEF;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {

    font-family: 'Roboto', sans-serif;
    color: var(--Blanco);

    background-image: url(../images/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
}

img {
    max-width: 100%;
    background-repeat: no-repeat;
    width: 200px;
    height: 300px;
    object-fit: cover;
}

a{
    color: var(--Blanco);
    text-decoration: none;
}

.header {
    background-color: var(--AzulOscuro);
    padding: 15px 0;
    margin-bottom: 130px;

}

.navbar-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.navbar-link {
    color: var(--Blanco);
    background-color: var(--AzulOscuro2);
    padding: 10px 50px;
    border-radius: 20px;
}

.navbar-link:hover {
    background-color: var(--Gris);
}

.title-main {
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: rgba(60, 79, 101, 0.5);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    text-align: center;
    justify-content: center;
    transition: box-shadow 0.3s ease;
    
 
}

.card:hover {
    box-shadow: 0 0 10px 2px var(--Gris);
    
}


.card-title a:hover{
    text-decoration: underline;
}



